# list in python

 # list is mutabel

In [46]:
num=[] # list represent with [] brackets

num=[12,45,78,69,36]

num[0]

num[4] # Access the value usind index number

# num[23] IndexError: list index out of range

num[2:] # start with 2th index 

num[-1]
num[-5] # access the value in the Reverse  order

names=["shankar","ravi","Samarth"]
names

mil=[num,names]  # attach the two lists
mil

[[12, 45, 78, 69, 36], ['shankar', 'ravi', 'Samarth']]

# append

In [ ]:

num.append(53 ) # add the only one  value to the list using (append ) Functiion
num

# insert

In [ ]:

num.insert(2,77) #  Add the multiple value to the list
num

# remove

In [ ]:


num.remove(36) # remove the only one value
num


# pop

In [ ]:

num.pop(2) # in this pop Function delet selecting  idex  value
num


num.pop() # in this pop Function delet the last value
num

# del

In [ ]:


del num[2:] # delet the value from 2th index
num

# extend

In [ ]:

# num.extend(12,23,34,45)   TypeError: list.extend() takes exactly one argument (4 given)

num.extend([12,23,34,45])  # extend take only one value and in one list
num

# min and  max

In [ ]:

min(num) # Find the minmum value


max(num) # Find the maximum value

# sum and  sort

In [ ]:


sum(num) # sum of the (num)


print(num)
num.sort()
num

In [21]:
# Quatation
num=[25,36,95,14,12,26]
# how to delet values (95,14,12)?
num.remove(95)
num.remove(14)
num.remove(12)

num

[25, 36, 26]