# list in python

 # list is mutabel

In [7]:
num=[] # list represent with [] brackets

num=[12,45,78,69,36]

num[0]

num[4] # Access the value usind index number

# # num[23] IndexError: list index out of range

num[2:] # start with 2th index 

num[-1]
num[-5] # access the value in the Reverse  order

names=["shankar","ravi","Samarth"]
names

mil=[num,names]  # attach the two lists
mil

[[12, 45, 78, 69, 36], ['shankar', 'ravi', 'Samarth']]

# append

In [ ]:

num.append(53 ) # add the only one  value to the list using (append ) Functiion
num

# insert

In [17]:
list1=[3,4,5,6]
list1.insert(1,54) #it takes two parameter one is index number and another one is value
list1

[3, 54, 4, 5, 6]

# remove

In [19]:
list1=[3,4,5,6]

list1.remove(6) # remove the only one value
list1

[3, 4, 5]


# pop

In [21]:
list1=[3,4,5,6]
list1.pop(2) # in this pop Function delet selecting  idex  value
list1


list1.pop() # in this pop Function delet the last value
list1

[3, 4]

# del

In [ ]:


del num[2:] # delet the value from 2th index
num

# extend

In [23]:

# num.extend(12,23,34,45)  # TypeError: list.extend() takes exactly one argument (4 given)

num.extend([12,23,34,45])  # extend take only one value and in one list
num

[12, 45, 78, 69, 36, 12, 23, 34, 45]

# min and  max

In [ ]:

min(num) # Find the minmum value


max(num) # Find the maximum value

# sum and  sort

In [35]:
list1=[3,4,5,6]
sum(list1) # sum of the (num)


print(num)
num.sort()
num

[12, 12, 23, 34, 36, 45, 45, 69, 78]

[12, 12, 23, 34, 36, 45, 45, 69, 78]

In [42]:
# Quatation
num=[25,36,95,14,12,26]
# how to delet values (95,14,12)?
num.remove(95)
num.remove(14)
num.remove(12)

num

[25, 36, 26]