# Touple  and set in Python

In [5]:
tup=() # touple is represent in () pranthisis

tup=(24,57,53,54,58)
tup

tup[1] # Accessing an element using index

# tup[1]=33 TypeError: 'tuple' object does not support item assignment

57

# Set in python

In [8]:
s={} # set is represet as {} bracates

s={58,65,45,25,36}
s

# s[2] TypeError: 'set' object is not subscriptable

# set is not support to the indexing

{25, 36, 45, 58, 65}

In [ ]:
# Set also have sum in built in function